@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.section_title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.container {
    max-width: 910px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    margin: 0 auto;
}

.menu_header {
    padding: 10px 20px;

    .menu_section {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            padding: 10px 20px !important;

            a {
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
        }
    }
}

.profile_details {
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .profile_details_box {

        .profile_name {
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
            margin-bottom: 5px;
        }

        .user_organizations {
            margin-bottom: 10px;
            font-size: 16px;
            color: #000000;
        }

        .user_organizations_position {
            font-size: 16px;
            color: #444444;
            line-height: 26px;
        }
    }
}

.section_div {
    padding: 20px 40px;

    .list_items {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            // display: inline;
            padding: 10px 0px !important;
            font-size: 16px;
            color: #444444;
        }
    }

    .list_items_underline {
        li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.38);

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.box_div_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .box_div {
        width: 227px;
        height: 220px;
        border: 1px solid rgba(0, 0, 0, 0.38);
        border-radius: 20px;
    }
}

.footer_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;

    .social_links {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;
                padding: 10px 20px !important;

                // &:last-child {
                //     padding-right: 10px !important;
                // }
            }
        }
    }
}